@import '../../utils/variables.scss';

.star {
    color: grey;
    font-size: 35px;

    &.active {
        color: $primary-color;
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .star{
        font-size: 18px;
        &.active {
            font-size: 18px;
        }
    }
}