.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 45px 5% 50px 5%;

  &__fig {
    display: flex;
    align-items: flex-start;
    width: 210px;
    height: 68px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      list-style-type: none;
      display: flex;
      gap: 57px;
      margin: 0;
    }
    li {
      color: #000;
      text-align: right;
      font-size: 24px;
      font-weight: 500;
    }
    li:active,
    li:hover {
      text-decoration-line: underline;
    }
  }
}

.header__nav a {
  text-decoration: none;
  color: unset;
}

.header__nav a:active, .header__nav a:hover {
  text-decoration-line: underline;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 20px 5% 19px 5%;
    &__fig {
      width: 145px;
      height: 47px;
    }
    &__nav {
      ul {
        gap: 9px;
      }
      li {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
