@import '../../utils/variables.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__number{
        color: $primary-color;
        font-size: 200px;
        font-weight: 700;
        margin: 50px 0; 
    }

    &__text {
        color: $primary-color;
        margin-top: 65px;
        font-size: 34px;
        margin-bottom: 100px;
    }

    &__link {
        margin: 40px 0 176px 0;
        border-bottom: 1px solid;
    }
};